@media (min-width: 48em) {

    #Work,
    #Play,
    #Study,
    #Exercise,
    #Social,
    #SelfCare {
        height: 100%;
    }

    .card {
        width: 200px;
        height: 100%;
    }

    .subHeading {
        font-size: 1rem;
    }

    .row2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .Time {
        font-size: 2.5rem;
    }

    .Previous {
        font-size: 0.7rem;
    }
}