#Work {
    background-color: hsl(15, 100%, 70%);
    background-image: url("/assets/images/icon-work.svg");
}

#Play {
    background-color: hsl(195, 74%, 62%);
    background-image: url("/assets/images/icon-play.svg");
}

#Study {
    background-color: hsl(348, 100%, 68%);
    background-image: url("/assets/images/icon-study.svg");
}

#Exercise {
    background-color: hsl(145, 58%, 55%);
    background-image: url("/assets/images/icon-exercise.svg");
}

#Social {
    background-color: hsl(264, 64%, 52%);
    background-image: url("/assets/images/icon-social.svg");
}

#SelfCare {
    background-color: hsl(43, 84%, 65%);
    background-image: url("/assets/images/icon-self-care.svg");
}

#Work,
#Play,
#Study,
#Exercise,
#Social,
#SelfCare {
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    padding-top: 2.6rem;
    background-repeat: no-repeat;
    background-position: 90% -10%;
}

.backgroundImg {
    margin-right: 16px;
    width: 80px;
}

.card {
    border-radius: 16px;
    background-color: hsl(235, 46%, 20%);
    padding: 1.5rem;
    width: 320px;
    height: 80%;
    cursor: pointer;
}

.card:hover {
    background-color: hsl(235, 45%, 31%);
}

.subHeading {
    font-size: 1.3rem;
    font-weight: 400;
    display: inline-block;
}

.row1 {
    margin-bottom: 1rem;
}

.row1,
.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    cursor: pointer;
}

.options:hover {
    color: red;
}

.Time {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.Previous {
    color: hsla(236, 100%, 87%, 0.8);
}