#work {
    background-color: hsl(15, 100%, 70%);
}

#play {
    background-color: hsl(195, 74%, 62%);
}

#study {
    background-color: hsl(348, 100%, 68%);
}

#exercise {
    background-color: hsl(145, 58%, 55%);
}

#social {
    background-color: hsl(264, 64%, 52%);
}

#selfCare {
    background-color: hsl(43, 84%, 65%);
}

#work,
#play,
#study,
#exercise,
#social,
#selfCare {
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.backgroundImg {
    margin-right: 16px;
    width: 80px;
    z-index: 0;
}

.card {
    border-radius: 16px;
    background-color: hsl(235, 46%, 20%);
    padding: 1.5rem;
    width: 320px;
    height: 80%;
    z-index: 1;
}